* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background-image: url("/assets/images/background.jpeg");
    padding: 72px 0;
    background-size: cover;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;

}

.cabecalho h1 {
    background-color: aquamarine;
    display: inline;
    padding: 8px;
}
.rodape-texto {
    background-color: #202124;
    color: #F1F1F1;
}

.rodape-logos {
    background-color: #38393F;
    padding: 8px;
}